.footer {
  background-color: var(--dark-blue);
  padding: 30px 0 50px;
  color: var(--white);
}

.footer--container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer--logo-copy {
  flex-basis: 30%;
}

.footer--logo-copy p {
  margin-top: 15px;
  line-height: 19px;
  font-size: 14px;
}

.footer--nav {
  flex-basis: 65%;
  display: flex;
  justify-content: space-between;
}

.footer--nav > div {
  flex-basis: 22%;
}

.footer--nav-links {
  list-style: none;
}

.footer--nav-links li {
  position: relative;
}

.footer--nav-links li img {
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.footer--nav-link {
  text-decoration: none;
  color: var(--white);
}

.footer--nav-link-heading {
  font-size: 19px;
  line-height: 24px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.footer--nav-link-heading:hover {
  text-decoration: underline;
}

.social-links a img {
  width: 30px;
}

.social-links > * {
  margin-right: 15px;
  transition: all 0.3s ease;
}

.social-links > *:hover {
  transform: translateY(4px);
}
